a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

li{
    list-style: none;
}

@font-face {
    font-family: "Rubik"; 
    src: url("../fonts/Rubik.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Rubikblack"; 
    src: url("../fonts/Rubikblack.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Rubikbold"; 
    src: url("../fonts/Rubikbold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Rubiklight"; 
    src: url("../fonts/Rubiklight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Rubikmedium"; 
    src: url("../fonts/Rubikmedium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

.main-wrap{
    background-color: #ebe4e0;
}

.container{
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
}

.side_bar{
    max-width: 262px;
    width: 100%;
    background: url(../img/podlojka.png) no-repeat;
    background-size: 100%;
    display: flex;
    z-index: 0;
    /* max-height: 1157px; */
}

.side_bar-wrapper{
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
    width: 275px;
    padding: 15px 0px;
}

.dot_corn{
    width: 10px;
    height: auto;
}

.side_bar-link{
    font-size: 18px;
    color: #6e4533;
    padding-left: 15px;
}

.side_bar-item{
    display: flex;
    align-items: center;
    padding: 13px 20px;
    z-index: 9;
    transition: 0.3s;
    cursor: pointer;
}

.side_bar-item svg{
    width: 10px;
    height: auto;
}

.fil0 {
    fill:#9D715F;
}

.side_bar-item:hover{
    background: url(../img/hover.svg) left -2px top 0px no-repeat;
    width: 228px;
    transition: 0.3s;
    z-index: 9;
    background-size: contain;
}

.mob-ul .side_bar-item:hover{
    display: flex;
    justify-content: center;
}
.side_bar-item:hover .fil0 {
    fill:#fff;
}
.side_bar-menu .corn .side_bar-item:last-child:hover{
    background: url(../img/hover.svg) left -2px top 5px no-repeat;
    width: 180px;
    transition: 0.3s;
    z-index: 9;
    background-size: contain;
}
.side_bar-menu{
    margin-top: 32px;
}
.side_bar-item:hover a{
    color: #fff;  
    transition: 0.3s;
}

.logo{
    max-width: 235px;
    width: 100%;
    height: auto;
    margin-left:7px;
}


.other{
    margin-top: 50px;
}

.side_bar-list{
    padding: 30px 10px 0px 23px;
    position: relative;
}

.side_bar-list:first-child::after{
    content: "";
    background: url(../img/punkts.png) no-repeat;
    background-size: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 270px;
    height: 270px;
    z-index: -1;
}


.side_bar-footer{
    margin-top: 346px;
    padding: 0px 50px 0px 30px;
}

.side_bar-footer_label{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #6e4533;
    line-height: 60px;
}

.side_bar-footer_confidentiality{
    font-family: "Rubikmedium";
    font-size: 14px;
    color: #86af67;
    padding-bottom: 35px;
}

.side_bar-social{
    display: flex;
    justify-content: flex-start;
}

.social_logo{
    width: 30px;
    height: auto;
}

#instagram{
    margin-right: 10px;
}

.vk_logo:hover,
#instagram:hover path{
    fill: #ffaa2a;
    cursor: pointer;
}

.main_content{
    padding: 44px 0px 0px 0px;
    background-color: #ebe4e0;
    overflow: hidden;
    width: 100%;
    z-index: 0;
}

.main-content-menu-left-c{
    margin-left: 62px;
}

.language{
    color: #b4a49b;
    font-size: 20px;
    font-family: "Rubikbold";
    transition: 0.5s;
    cursor: pointer;
}

.language:hover{
    color: #86af67;
    transition: 0.5s;
}

.main_content-header_language{
    padding-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.main_content-header_language a{
    z-index: 999;
}

.main_content-menu{
    display: flex;
    justify-content: space-between;
}

.main_content-title{
    font-size: 46px;
    font-family: "Rubikmedium";
    letter-spacing: 2.3px;
    line-height: 56px;
    color: #6e4533;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.main_content-subtitle{
    font-family: "Rubik";
    font-size: 26px;
    line-height: 36px;
    color: #6e4533;
    margin-bottom: 40px;
}

.buttons_menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 503px;
}

.buttons_menu a{
    width: 177px;
    padding: 13px 30px;
    background: linear-gradient(#8caf48, #abd86b);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    transition: 1s;
    box-shadow: 0 0 3px #8daf488f;  
    margin-bottom: 27px;
    -webkit-box-shadow: 4px 8px 18px 0px rgb(170 224 68 / 50%);
    -moz-box-shadow:  4px 8px 18px 0px rgb(170 224 68 / 50%);
    box-shadow: 4px 8px 18px 0px rgb(170 224 68 / 50%);
}

.buttons_menu a:hover{
    transition: 1s;
    background: #ffaa2a;
    box-shadow: 0 0 3px #ffaa2a7e; 
}

.buttons_menu a span{
    text-transform: uppercase;
    color: #fff;
    font-family: "Rubik";
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0.75px;
    position: relative;
    min-width: 125px;
    text-align: center;
}

.buttons_menu a span::after{
    content: '';
    position: absolute;
    top: 20px;
    right: -33px;
    width: 10px;
    height: 10px;
    background: url(../img/white-dot.png) no-repeat;
    background-size: 100%;
}

.buttons_menu a span::before{
    content: '';
    position: absolute;
    top: 20px;
    left: -33px;
    width: 10px;
    height: 10px;
    background: url(../img/white-dot.png) no-repeat;
    background-size: 100%;
}
.buttons_menu-col{
    display: flex;
    padding-bottom: 37px;
}
.buttons_menu a{
    z-index: 3;
}

.col-1{
    margin-right: 45px;
}

.cow_bg{
    background: url(../img/cows.png) left 13px top 25px no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.mm{
    width: 6%;
}

.dots_main{
    margin-right: 52px;
    width: 90%;
    height: 5px;
    transform: translateY(10px);
}

.lang_first{
    padding-right: 12px;
}
.main_content-menu-right{
    position: relative;
    width: 37%;
}
.corn_first{
    position: absolute;
    top: -58px;
    right: 251px;
    width: 27%;
    z-index: -1;
}

.main_content-menu_left{
    width: 56%;
}

.main-text_menu-wrapper{
    border: 2px solid #ccafa1;
    padding: 69px 82px 55px 61px;
    background-color: rgb(244 238 227 / 0.5);
    width: 56%;
}

.main-text_menu{
    color: #6e4533;
    background: url(../img/corn2.jpg) left 112px no-repeat;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 100px;
}

.text_menu-title{
    font-family: "RubikBold";
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 31px;
}

.text_menu-info{
    font-size: 18px;
    line-height: 26px;
    font-family: "Rubik";
    text-align: left;
}

.first_text{
    padding-bottom: 24px;
}

.online_consultant{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #86b067;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.comment{
    width: 35px;
    height: auto;
    margin-top: 18px;
}

.online_consultant-wrapper{
    display: flex;
    justify-content: center;
}

.sms{
    background-color: #ffb93e;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-family: "RubikBold";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.photo_frame{
    object-fit: cover;
    width: 100%;
}

.consultant{
    position: relative;
}

.online_consultant{
    position: absolute;
    top: 875px;
    right: 37px;
    cursor: pointer;
}

.mob-header{
    display: none;
}


